@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
}

img {
    max-width: 100%;
}

.welcome {
    font-weight: 700;
}

.head {
    background: linear-gradient(90deg, rgba(52, 51, 51, 1) 0%, rgba(72, 72, 72, 1) 70%, rgba(40, 40, 40, 1) 100%);;
    width: 100%;
    height: 109px;
    align-items: center;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.foot {
    background: linear-gradient(90deg, rgba(52, 51, 51, 1) 0%, rgba(72, 72, 72, 1) 70%, rgba(40, 40, 40, 1) 100%);;
    width: auto;
    height: auto;
    align-items: center;
    margin-top: 150px;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 30px;
}

.ft-ms-gallery-info {

    display: flex; 
    flex-direction: column; 
    width: 267px; 
    height: 215px; 
    justify-content: space-between; 
    margin-bottom: 30px;
}

.ft-text {
    width: 240px; 
    line-height: 22px; 
    font-weight: 400; 
    font-family: Roboto; 
    font-size: 14px; 
    color: #ffffff9f
}

.social-buttons {
    display: flex; 
    justify-content: 
    space-between; 
    width: 148px; 
    height: 28px
}

.social-icon {
    width: 50%; 
    filter:brightness(0)
}

.ft-col-wrapper {
    display: flex; 
    flex-direction: column; 
    height: auto;
}

.ft-info-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}

.ft-col-head {
    font-size: clamp(5px,2vw,20px);
    letter-spacing: 3px; 
    line-height: 18px; 
    font-weight: 400; 
    color: #E0A449; 
    margin-bottom: clamp(5px,2vw,20px);
}

.ft-col-ref {
    text-decoration: none; 
    margin-bottom: clamp(3.75px,2vw,15px);
    font-size: clamp(5px,2vw,20px);
    color: #ffffff9f;
}

.carr {
    margin-top: 25px; 
    font-weight: 400; 
    color: #ffffff9f; 
    font-size: 16px; 
    font-family: Roboto; 
    line-height: 100%;
}

@media (max-width: 700px) {
    .ft-text {
        width: 270px;
    }
    .foot {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 33px;
        justify-items: center;
    }
    .ft-ms-gallery-info {
        display: flex; 
        flex-direction: column; 
        width: 338px; 
        height: 215px; 
        justify-content: space-between; 
        margin-bottom: 40px;
    }
    .ft-info-wrapper {
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
    }
    .ft-col-head {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .ft-col-ref {
      display: none;
    }
    .carr-wrapper {
        text-align: center;
        width: 100%;
    }
}


.logo {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 90%;
    height: 50%; 
    box-sizing: border-box;
}

.ms-gallery-logo {
    max-height: 100%; 
    max-width: 60%;
}

.href-gallery {
    color:#FFFFFF; 
    font-family: Roboto, sans-serif; 
    font-size: 24px; 
    font-weight: 400; 
    display: flex; 
}

input::placeholder {
    color:  #C4C4C4;
    opacity: 1
}

.search { 
    display: flex; 
    align-items: center; 

    min-width: 100px; 
    width: 90%; 
    height: 50%;
    border-style: none; 
    outline: none; 
    margin-left: 15px;

    color: #404040; 
    background-color: #00000000;

    font-family: Montserrat; 
    text-align: left; 
    font-size: 16px; 
    opacity: 1;   
}

.slogan-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 5%; 
    width: 100%;
}

.slogan {
    max-width: 684px; 
    font-weight: 700; 
    font-size: clamp(15px, 6vw, 64px); 
    padding-top: 15px; 
    padding-bottom: 5px;
}

.container {
    display: flex; 
    justify-content: center;
}

.searchbox {
    display: flex; 
    justify-content: space-between; 
    justify-items: center; 
    align-items: center; 
    height: 64px; 
    width:clamp(100px, 85vw, 684px); 
    background: #3939390e; 
    margin-top: 7%; 
    border-radius: 16px;
}

.search-button {
    width:100%; 
    max-height: 32px; 
    min-width: 32px;
}

.image-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 25px;
}

.image-block img {
    width: 100%;
    height: 244px;
    display: block;
    object-fit: cover;
}

.gallery-wrapper {
    margin-top: 7%; 
    width: clamp(100px, 85vw, 909px);
}

.link-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height:100%;
    width: 28px; 
    border-radius: 100px; 
    border-color: #00000025; 
    border-style:solid; 
    background-color: #FFFFFF;
}